/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fundo branco */
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fundopadel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1;
}

/* Estilos para a tabela */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para aplicar bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Mais transparência na borda */
}

th {
    background-color: #333; /* Tom cinzento escuro */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05); /* Linhas pares com fundo cinza claro */
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fundo cinza mais escuro ao passar o mouse */
}

/* Fundo cinzento escuro para a linha dos nomes da tabela */
tr:nth-child(1) th {
    background-color: #333 !important; /* Tom cinzento escuro */
}

/* Estilos para o botão de adicionar novo jogador */
#showFormButton {
    display: none; /* Inicialmente escondido */
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333; /* Tom cinzento escuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#showFormButton:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}

/* Estilos para o botão de editar dados */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
}

#editDataButton, #saveButton {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#editDataButton:hover, #saveButton:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}


/* Estilos para a overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o conteúdo da overlay */
.overlay-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
}

/* Estilos para o botão de fechar */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para os elementos do formulário */
form label, form input, form button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px; /* Aumenta o espaço entre os elementos */
}

/* Estilos adicionais para o botão de gravar na overlay */
form button {
    background-color: #333; /* Tom cinzento escuro */
    color: white;
}

form button:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}

/* Estilos adicionais */
h1 {
    text-align: center;
    margin-top: 20px;
}
