/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fundo branco */
    margin: 0 20px; /* Margens laterais de 20px */
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fundopadel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para o botão de adicionar novo jogador na página principal */
.button-container button, 
form button {
    background-color: #333; /* Tom cinzento escuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* Estilos para o botão de adicionar novo jogador na overlay */
form button:hover, 
.button-container button:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}

.button-container button.active {
    background-color: #555; /* Cor de fundo para o botão ativo */
    color: white; /* Cor do texto do botão ativo */
    font-weight: bold; /* Negrito no botão ativo */
}

/* Estilos para a tabela */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite a rolagem horizontal */
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para aplicar bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Mais transparência na borda */
}

th {
    background-color: #333; /* Tom cinzento escuro */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05); /* Linhas pares com fundo cinza claro */
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fundo cinza mais escuro ao passar o mouse */
}

/* Fundo cinzento escuro para a linha dos nomes da tabela */
tr:nth-child(1) th {
    background-color: #333 !important; /* Tom cinzento escuro */
}

/* Destaque para as colunas importantes */
table th.important-column {
    font-weight: bold !important; /* Negrito com maior especificidade */
}

/* Ajustar largura da primeira coluna (Ranking) */
th:nth-child(1), /* Ranking */
td:nth-child(1)  /* Ranking */
{
    min-width: 30px; /* Define a largura mínima */
    max-width: 30px; /* Define a largura máxima */
    width: 8%; /* Define uma largura fixa */
}

/* Ajustar largura mínima da coluna do nome */
th:nth-child(2), /* Nome */
td:nth-child(2)  /* Nome */
{
    min-width: 250px; /* Define a largura mínima */
    max-width: 350px; /* Define a largura máxima */
    width: 30%; /* Define uma largura percentual fixa */
    word-break: break-word; /* Quebra de palavras para nomes longos */
}

/* Ajustar largura das colunas Pontos e Score */
th:nth-child(5) /* Pontos */
{
    width: 10%;
}
th:nth-child(6) /* Score */
{
    width: 12%;
}

/* Ajustar largura das colunas restantes */
th:nth-child(5), /* Vitórias */
th:nth-child(6), /* Empates */
th:nth-child(7) /* Derrotas */
{
    min-width: 30px; /* Define a largura mínima */
    max-width: 30px; /* Define a largura máxima */
    width: 10%; /* Define uma largura fixa */
}
th:nth-child(8)  /* Jogos */
{
    width: 10%;
}



/* Estilos para o botão de adicionar novo jogador */
#showFormButton {
    display: none; /* Inicialmente escondido */
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333; /* Tom cinzento escuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#showFormButton:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}

/* Estilos para a overlay */
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 500px; /* Largura máxima da overlay */
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* Estilos para o botão de fechar */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para os elementos do formulário */
form label, form input, form button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px; /* Aumenta o espaço entre os elementos */
}

/* Estilos adicionais para o botão de gravar na overlay */
form button {
    background-color: #333; /* Tom cinzento escuro */
    color: white;
}

form button:hover {
    background-color: #555; /* Tom cinzento mais claro ao passar o mouse */
}

/* Estilos adicionais */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-container button {
        margin: 10px 0;
        width: 80%;
    }

    .table-container {
        overflow-x: auto; /* Permite rolagem horizontal */
    }

    table {
        width: 100%;
        margin: 10px auto;
    }

    th, td {
        padding: 10px;
        white-space: nowrap; /* Impede a quebra de linha em conteúdo */
        overflow: hidden; /* Esconde o excesso de conteúdo */
        text-overflow: ellipsis; /* Adiciona reticências ao conteúdo excedente */
    }

    th:nth-child(2), /* Nome */
    td:nth-child(2)  /* Nome */
    {
        min-width: 150px; /* Define a largura mínima */
        max-width: none; /* Remove a largura máxima */
        width: auto; /* Ajusta a largura automaticamente */
    }

    th.important-column,
    td.important-column {
        white-space: normal; /* Permite quebra de linha nas colunas importantes */
    }
}

/* Estilos para Captura de Imagem */
.capture-mode table {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: collapse !important;
    border: 2px solid #333 !important;
    background-color: #fff !important;
}

.capture-mode th, .capture-mode td {
    padding: 10px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border: 1px solid #333 !important;
    background-color: #fff !important;
    color: #000 !important;
}

.capture-mode th {
    background-color: #333 !important;
    color: #fff !important;
}
